.pet-canvas-container {
    position: relative;
    width: 500px;
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .pet-svg-container {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
  }
  
  .bg-button-container {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 20px;
    width: 100%;
  }
  
  .bg-button {
    margin: 5px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    flex: 1; /* Makes the button take equal space */
  }
  
  .bg-button:hover {
    background-color: #45a049;
  }

  #pet-SVG,
  #speech-buble {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
  